<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Hello, World!</h1>
  <form method="post" class="convert">
    <button type="submit">Convert!</button>
  </form>
</body>
</html>