<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><%= this.message %></h1>
  <form method="post" class="convert">
    <div class="convert">
      <label for="x">Enter length of X: </label>
      <input type="text" name="x" id="x" placeholder="60" value="60" required>
    </div>
    <div class="convert">
      <label for="y">Enter length of Y: </label>
      <input type="text" name="y" id="y" placeholder="40" value="40" required>
    </div>
    <div class="convert">
      <label for="z">Enter length of Z: </label>
      <input type="text" name="z" id="z" placeholder="35" value="35" required>
    </div>
    <button type="submit">Create!</button>
  </form>
</body>
</html>