<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GLB2USDZ</title>
</head>
<body>
  <h1>Hello, World!</h1>
  <a href="/table">Table</a>
  <a href="/sofa">Sofa</a>
</body>
</html>