<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AR Preview</title>
  <style>
    .viewer {
      height: 80%;
      background: #F00;
    }
    .ar-btn {
      background: #0F0;
    }
  </style>
</head>
<body>
  <div class="viewer">
    <canvas id="three-scene" width="100%" height="100%">
      Canvas
    </canvas>
  </div>
  <div class="ar-btn">
    ar
  </div>
</body>
</html>